@font-face {
    font-family: 'Gotham Rounded Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Medium'), url('/fonts/GothamRounded-Medium.woff') format('woff');
}
    
@font-face {
    font-family: 'Gotham Rounded Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Medium Italic'), url('/fonts/GothamRounded-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Rounded Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Bold'), url('/fonts/GothamRounded-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Rounded Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Bold Italic'), url('/fonts/GothamRounded-BoldItalic.woff') format('woff');
}
    
@font-face {
    font-family: 'Gotham Rounded Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Light'), url('/fonts/GothamRounded-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Rounded Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Light Italic'), url('/fonts/GothamRounded-LightItalic.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Gotham Rounded Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Book'), url('/fonts/GothamRounded-Book.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Rounded Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Book Italic'), url('/fonts/GothamRounded-BookItalic.woff') format('woff');
}